<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LogFilePath</key>
	<string>/tmp/test.log</string>
	<key>LogLevelError</key>
	<string>YES</string>
	<key>LogLevelInfo</key>
	<string>YES</string>
	<key>LogLevelWarning</key>
	<string>YES</string>
	<key>LogWriteToFile</key>
	<string>YES</string>
</dict>
</plist>
